%button-reset {
    appearance: none;
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    margin: 0;
    border: none;
}

.btn {
    @extend %button-reset;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 17px 40px 7px 40px;
    font-family: $secondary-font;
    line-height: 1.22;
    border: 4px solid transparent;
    transition: border 250ms ease-in-out, color 250ms ease-in-out, background 250ms ease-in-out;

    @include responsive-font((
        min-size: 2.4rem,
        max-size: 3.6rem,
        upper-bound: breakpoint(large),
        lower-bound: breakpoint(x-small),
    ));

    @include mq-below(small) {
        padding: 12px 20px 2px 20px;
    }

    &.btn-primary {
        color: getColor(white);
        background: getColor(primary, dark);
        border-color: getColor(primary, dark);

        &:hover,
        &:focus {
            color: getColor(primary, dark);
            background: getColor(white);
        }
    }

    &.btn-outline {
        color: getColor(white);
        background: transparent;
        border-color: getColor(white);

        &:hover,
        &:focus {
            color: getColor(primary, dark);
            background: getColor(white);
        }
    }
}
