$primary-font: 'Halant', serif;
$secondary-font: grandma, sans-serif;

$base-font-size: 2.4rem;
$base-line-height: 1.583;

$h1-font-size: 6.4rem;
$h1-line-height: 1.22;

$h2-font-size: 6.4rem;
$h2-line-height: 1.22;

$h3-font-size: 4.8rem;
$h3-line-height: 1.20;

$h4-font-size: 4.2rem;
$h4-line-height: 1.20;

$h5-font-size: 3.6rem;
$h5-line-height: 1.25;

$h6-font-size: 2.8rem;
$h6-line-height: 1.583;

$colors: (
    primary: (
        light: #C8B8E1,
        base: #9F75E1,
        mid-gray: #9488A7,
        mid-dark: #7e55be,
        dark: #694D95,
        translucent-dark: #744eb2c1,
    ),
    white: (
        base: #FFF,
    ),
    black: (
        base: #000,
    )
);

$z-index: (
    default: 0,
);

$breakpoints: (
    x-tiny: 350,
    tiny: 400,
    x-small: 480,
    mid-small: 600,
    small: 768,
    medium: 960,
    mid-large: 1050,
    large: 1224,
    x-large: 1440,
    xx-large: 1525
);
