// Added by Ethan Zitting for the badger accordion.
.accordion-container {
    /*
    =======================================================================
    TABLE OF CONTENTS
    =======================================================================
    - Fonts and Colors
    - Core Components
    - Animations
    - Spacing and Layout
    */

    /*
    =======================================================================
    Fonts and Colors
    =======================================================================
    */

    font-family: $primary-font;
    //background-color: $colors-primary-base;
    background-color: #9F75E1;

    .accordion-title {
        color: white;
        font-family: $secondary-font;
        font-size: 24px;
    }

    .badger-accordion {
        &__panel-inner {
            background-color: white;
        }

        &__trigger {
            background-color: #694D95;
            color: #000;
            font-family: $secondary-font;
            font-size: 20px;
            line-height: 1;

            &:hover {
                background-color: #9F75E1;
            }
        }

        &__trigger-icon {
            &:after, &:before {
                background-color: #333;
            }
        }

        // Sort of Important Stuff
        &__panel {
            max-height: 75vh !important;
            overflow: hidden;

            // scss-lint:disable ImportantRule
            &.-ba-is-hidden {
                max-height: 0 !important;
                visibility: hidden;
            }

            // transition is added via `badger-accordion--initalised` to stop animation on initalition
            .badger-accordion--initalised & {
                transition: max-height ease-in-out 0.2s;
            }
        }
    }


    /* Spacing and Layout */
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;

    .accordion-title {
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .badger-accordion {
        margin: 17px;

        &__trigger {
            align-content: space-between;
            align-items: center;
            border: 0;
            border-radius: 3px;
            display: flex;
            padding: 2px;
            text-align: left;
            transition: all ease-in-out 0.2s;
            width: 100%;
            padding-left: 15px;
            margin-top: 10px;

            &:focus, &:hover {
                cursor: pointer;
                outline: none;
            }
        }

        &__trigger-title {
            max-width: 80%;
        }

        &__panel-inner {
            padding: 20px 20px 40px;
            overflow: visible;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }


    .badger-accordion__trigger:focus, .badger-accordion__trigger:hover {

    }

    .badger-accordion__trigger-icon:after, .badger-accordion__trigger-icon:before {
        content: "";
        height: 3px;
        position: absolute;
        top: 10px;
        transition: all ease-in-out 0.1333333333s;
        width: 23px;
    }

    .badger-accordion__trigger-icon:before {
        left: 1px;
        transform: rotate(
                45deg
        ) translate3d(-11px, 25px, 0);
        transform-origin: 100%;
    }

    .badger-accordion__trigger[aria-expanded=true] .badger-accordion__trigger-icon:before {
        transform: rotate(
                45deg
        ) translate3d(-7px, 20px, 0);
    }

    .badger-accordion__trigger-icon:after {
        transform: rotate(
                -45deg
        ) translate3d(-10px, 4px, 0);
        right: 1px;
        transform-origin: 0;
    }

    .badger-accordion__trigger[aria-expanded=true] .badger-accordion__trigger-icon:after {
        transform: rotate(
                -45deg
        ) translate3d(-15px, -2px, 0);
    }

    .badger-accordion__trigger-icon {
        display: block;
        height: 25px;
        margin-left: auto;
        position: relative;
        transition: all ease-in-out 0.2s;
        width: 25px;
    }


    .text-center {
        text-align: center;
    }

    .badger-accordion__header {
        margin-top: 5px;
    }

}

