.page-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer {
    background-color: getColor(primary, base);
    color: getColor(white);
    font-family: $secondary-font;
    width: 100%;
    padding: 30px 0;

    .footer-list {
        display: flex;
        justify-content: space-between;

        @include mq-below(medium) {
            display: block;

            p:first-child {
                margin-bottom: 15px;
            }
        }
    }

    a, a:hover, a:active, a:visited, a:focus {
        text-decoration: underline;
        color: inherit;
        cursor: pointer;
    }
}
