.footer {
    background-color: getColor(primary, base);
    color: getColor(white);
    font-weight: bold;
    font-size: 1.25em;
    font-family: $secondary-font;
    width: 100%;
    padding: 30px;

    .footer-list {
        display: flex;
        justify-content: space-between;

        li {
            margin-top: 5px;
        }

        @include mq-below(small) {
            display: block;
        }
    }

    a, a:hover, a:active, a:visited, a:focus {
        text-decoration: underline;
        color: inherit;
        cursor: pointer;
    }
}
