.header {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-bottom: 300%;
    background-color: getColor(primary, mid-dark);

    .container {
        height: 100%;
    }

    .t-l-main-img, .t-r-main-img {
        position: absolute;
        top: 0;
        height: 100%;
        width: auto;
        overflow: hidden;
    }

    .t-l-main-img {
        right: -20%;
    }

    .t-r-main-img {
        left: 0;
    }

    .text-div {
        position: absolute;
        height: 100%;
        width: 40%;
        min-width: 210px;
        z-index: 3;
        margin: 40px;
        color: getColor(white);
        font-family: $primary-font;

        h2 {
            font-family: $secondary-font;
            text-align: center;
            margin: 20px;
        }
    }

    .svg-div {
        position: absolute;
        top: -10%;
        height: 720px;
        width: 60%;

        .t-l-svg, .t-r-svg {
            width: 100%;
            height: 100%;
        }
    }

    &.text-left {
        .text-div, .svg-div {
            left: 0;
        }
        .t-r-svg, t-r-main-img {
            display: none;
        }
    }

    &.text-right {
        .text-div, .svg-div {
             right: 0;
         }
        .t-l-svg, .t-l-main-img {
            display: none;
        }
    }
}

