.header-img-left, .header-img-right {
    height: 400px;
    position: relative;
    overflow: hidden;
    width: 100%;

    img {
        height: 100%;
        width: 60%;
    }

    .text-div {
        color: getColor(white);
        font-family: $primary-font;
        height: 100%;
        width: 40%;
        min-width: 210px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        margin: 40px;

        h1 {
            font-family: $secondary-font;
            text-align: center;
            margin: 20px;
        }
    }

    .dark-blob, .light-blob {
        background-color: getColor(primary, mid-dark);
        height: 250%;
        width: 100%;
        min-width: 500px;
        position: absolute;
        right: -45%;
        top: -45%;
        z-index: 2;

        border-radius: 50%;
        overflow: hidden;
    }

    .light-blob {
        background-color: getColor(primary, light);
        top: -85%;
        right: -41%;
        z-index: 1;
        opacity: 80%;
    }
}

.header-img-right {
    img {
        position: absolute;
        top: 0;
        right: 0;
    }

    .text-div {
        top: 0;
        left: 0;
    }

    .dark-blob {
        top: -45%;
        left: -45%;
    }

    .light-blob {
        top: -85%;
        Left: -41%;
    }
}

