.icon-callout-set {
    font-family: $secondary-font;
    text-align: center;

    .title {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .icons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        li {
            width: 25%;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 30px;

            @include mq-below(mid-large) {
                width: 50%;
            }

            @include mq-below(mid-small) {
                width: 100%;
            }

            margin-top: 20px;

            img {
                display: block;
                border-radius: 50%;
                margin: 0 auto 20px auto;
                width: 190px;
                height: auto;
            }

            h5 {
                margin-top: 17px;
                margin-bottom: 17px;
            }

            p {
                font-family: $primary-font;
                max-width: 230px;
                margin: 0 auto;
            }
        }
    }
}
