.icon-callout-set {
    font-family: $secondary-font;
    text-align: center;

    .title {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .icons {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;

        @include mq-below(small) {
            flex-wrap: wrap;
        }
        li {
            width: 190px;
            margin-top: 20px;

            img {
                display: block;
                border-radius: 50%;
                margin: 0 auto;
                width: 6.5vw;
                min-width: 60px;
                height: auto;
            }

            h5 {
                margin-top: 17px;
                margin-bottom: 17px;
            }

            p {
                font-family: $primary-font;
                max-width: 230px;
                margin: 0 auto;
            }
        }
    }
}
