.image-text-callout {
    $image-shadow-size: 40px;

    margin-top: 175px;
    margin-bottom: 175px;

    .callout {
        display: flex;
        flex-direction: row;
        padding-top: $image-shadow-size;
        align-items: center;

        @include mq-below(mid-large) {
            flex-direction: column;
            .text-wrapper {
                padding-left: 0;
            }
        }
    }

    .image {
        position: relative;
        border-radius: 8px;
        width: 100%;
        box-shadow: -$image-shadow-size $image-shadow-size getColor(primary, dark);
    }

    .image-wrapper {
        @include mq-above(mid-large){
            max-width: 50%;
        }
        padding-left: $image-shadow-size;
    }

    .text-wrapper {
        padding-left: 3%;
        flex: 1;
    }

    h2 {
        padding-top: 50px;
    }

    p {
        margin-bottom: 28px;
        margin-top: 50px;
        text-align: center;
    }

    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.image-right {
        .callout {
            flex-direction: row-reverse;

            @include mq-below(mid-large) {
                flex-direction: column;
                .text-wrapper {
                    padding-left: 0;
                }
            }
        }

        .text-wrapper {
            padding-right: 3%;
        }

        .image {
            box-shadow: $image-shadow-size $image-shadow-size getColor(primary, dark);
        }

    }
}
