main {
    padding-top: $navigation-desktop-height;
}

.skip-nav {
    z-index: z-index(skip-nav);
    position: absolute;
    transform: translateY(-125%) translateY(-15px);
    transition: transform 0.25s;
    top: 15px;
    left: 40px;

    &:focus {
        transform: translateY(0%);
    }
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: z-index(navigation);
    background-color: getColor(primary, dark);

    &.is-scrolled {
        box-shadow: 0px 3px 20px #00000048;
    }

    &.is-hidden {
        transform: translateY(-125%);
    }
    transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $navigation-desktop-height;
    }

    .logo {
        display: block;

        img {
            height: 72px;
        }
    }

    .nav-toggle {
        $box-size: 75px;
        $bar-size: 40px;

        @extend %button-reset;
        height: $box-size;
        width: $box-size;
        border: 4px solid getColor(white);
        position: relative;

        @include mq-above(medium) {
            display: none;
        }

        @include mq-below(mid-small) {
            transform: scale(.7);
        }

        .icon {
            transition-duration: 500ms;
            position: absolute;
            height: 0;
            width: $bar-size;
            background-color: getColor(white);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::before,
            &::after {
                content: '';
                position: absolute;
                background-color: getColor(white);
                transition-duration: 500ms;

            }

            &::before {
                width: $bar-size;
                height: 4px;
                top: -12px;
                left: 0;
            }

            &::after {
                width: $bar-size;
                height: 4px;
                top: 12px;
                left: 0;
            }
        }

        &.open {
            .icon {
                &::before {
                    transform: rotateZ(135deg) scaleX(1.25) translate(6px, -8px);
                }

                &::after {
                    transform: rotateZ(-135deg) scaleX(1.25) translate(7px, 9px);
                }
            }
        }
    }

    .nav-links {
        @include mq-below(medium) {
            position: fixed;
            background-color: getColor(primary, dark);
            width: 100%;
            left: 0;
            top: $navigation-desktop-height;
            transition: max-height 500ms ease-in-out;
            max-height: 0;
            overflow: hidden;

            &.open {
                max-height: 600px;
                visibility: visible;
            }
        }

        ul {
            display: flex;
            align-items: center;

            @include mq-below(medium) {
                flex-direction: column;
                align-items: start;
                padding-left: 85px;
                padding-bottom: 40px;
                padding-top: 20px;

                @include mq-below(x-small) {
                    padding-left: 65px;
                }


                @include mq-below(tiny) {
                    padding-left: 55px;
                }
            }
        }

        li {
            display: flex;

            @include mq-below(medium) {
                padding-bottom: 30px;
            }
        }

        .btn {
            padding-top: 15px;
            padding-bottom: 6px;
            background: getColor(primary, dark);
        }
    }

    .nav-link {
        color: getColor(primary, light);
        text-decoration: none;
        text-transform: uppercase;
        transition: border 250ms ease-in-out, color 250ms ease-in-out;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        line-height: 1;
        margin-right: 50px;

        @include responsive-font((
            min-size: 2.8rem,
            max-size: 3rem,
            upper-bound: breakpoint(large),
            lower-bound: breakpoint(x-small),
        ));

        &.active,
        &:focus,
        &:hover {
            color: getColor(white);
            border-color: getColor(white);
        }
    }
}



.modal {
    max-width: 125rem;

    @include mq-below(medium) {
        width: 100%;
        padding: .25rem;
    }
}

#contact {
    top: auto;
    height: 75vh;
    width: 100%;

    @include mq-below(medium) {
        height: 90vh;
    }

    #contactForm {
        width: 100%;
        height: 100%;
    }
}

.blocker {
    z-index: 99;
}
