main {
    padding-top: $navigation-desktop-height;
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: z-index(navigation);
    background-color: getColor(primary, dark);

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $navigation-desktop-height;
    }

    .logo {
        display: block;

        img {
            height: 72px;
        }
    }

    .nav-links {
        display: flex;
        align-items: center;

        li {
            display: flex;
        }

        .btn {
            padding-top: 1.5rem;
            padding-bottom: .6rem;
        }
    }

    .nav-link {
        color: getColor(primary, light);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 4rem;
        transition: border 250ms ease-in-out, color 250ms ease-in-out;
        border-bottom: 4px solid transparent;
        line-height: 1;
        margin-right: 50px;

        &.active,
        &:focus,
        &:hover {
            color: getColor(white);
            border-color: getColor(white);
        }
    }
}
