.photo-grid {
    background-color: getColor(primary, base);
    color: getColor(white);
    font-family: $secondary-font;
    font-weight: bold;
    text-align: center;
    padding: 20px 60px 20px 40px;
    max-width: 800px;
    margin: 0 auto;

    .grid-title {
        font-size: 32px;
        margin-top: 50px;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;

        li {
            margin: 20px;

            img {
                border-radius: 50%;
                margin: 10px 10px 20px 10px;
            }

            p {
                font-family: $primary-font;
                font-size: 12px;
                font-weight: normal;
                margin: 5px 5px 12px 5px;
            }

            h3 {
                font-size: 20px;
            }
        }
    }
}
