.photo-grid {
    background-color: getColor(primary, base);
    color: getColor(white);
    font-family: $secondary-font;
    text-align: center;
    padding: 20px 60px 20px 40px;

    .grid-title {
        margin-top: 50px;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;

        li {
            width: 33%;

            @include mq-below(medium) {
                width: 50%;
            }

            @include mq-below(small) {
                width: 100%;
            }

            img {
                border-radius: 50%;
                margin: 10px 10px 20px 10px;
            }

            p {
                margin: 5px 5px 12px 5px;
            }
        }
    }
}
