.prefooter-callout {
    width: 100%;
    height:400px;
    font-family: $secondary-font;
    color: getColor(white);
    background-color: #7E55BE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .pfc-background {
        width: 100%;
        height: 200%;
        background-image: url(/img/flower.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        opacity: .5;
        position: absolute;
        left: -30%;

        @include mq-below(xx-large) {
            background-position: center;
        }
    }

    .pfc-content {
        text-align: center;
        position: relative;
    }

    h2 {
        margin: 0 0 25px 0;
    }

    a {
        margin: 25px 0 0 0;
    }
}
