.prefooter-callout {
    width: 100%;
    font-family: $secondary-font;
    color: getColor(white);
    background-color: getColor(primary, light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .pfc-background {
        width: 100%;
        height: 200%;
        background-image: url(/img/flower.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        opacity: .5;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @include mq-below(mid-large) {
            left: -30%;
        }
    }

    .pfc-content {
        text-align: center;
        position: relative;
        padding: 100px 0;
    }

    h2 {
        margin: 0 0 25px 0;
    }

    a {
        margin: 25px 0 0 0;
    }
}
