.feature-slider {
    /* Much of this CSS code is based heavily on code from the Slick-Slider Project on Github */
    color: white;
    background: no-repeat center/cover;
    background-position: top 20% right 50%;

    width: 100%;
    height: 0;
    padding-bottom: 30%;
    position: relative;
    z-index: 5;

    .purple-filter {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 6;
        background-color: #694F93B4;
    }

    .slider {
        position: absolute !important;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 7;
        margin: 0 auto;
    }

    .slick-list, .slick-track, .slick-slide, .slick-slide>div, .slide-text {
        height: 100%;
    }

    .slide-text {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .text-wrapper {
        height: auto;
        width: 50%;
        margin: auto;
    }

    .quote {
         font-family: $secondary-font;
     }

    .person-quoted {
        font-family: $primary-font;
        text-align: right;
    }

    /* Code Written by Slick-Slider Project */
    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        user-select: none;
        touch-action: pan-y;
    }
    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;

        &:focus {
            outline: none;
        }

        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
    }
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        left: 0;
        top: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;

        &:before,
        &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }

        .slick-loading & {
            visibility: hidden;
        }
    }
    .slick-slide {
        float: left;
        height: 100%;
        min-height: 1px;
        img {
            display: block;
        }
        &.slick-loading img {
            display: none;
        }


        &.dragging img {
            pointer-events: none;
        }

        .slick-initialized & {
            display: block;
        }

        .slick-loading & {
            visibility: hidden;
        }

        .slick-vertical & {
            display: block;
            height: auto;
            border: 1px solid transparent;
        }
    }
    .slick-arrow.slick-hidden {
        display: none;
    }

    /* Arrows */
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        z-index: 10;
        display: block;
        height: 20px;
        width: 20px;
        line-height: 0;
        font-size: 0;
        padding: 0;
        cursor: pointer;
        background: transparent;
        outline: none;
        border: none;

        transform: translate(0, -50%);

        &:hover, &:focus {
            outline: none;
        }
    }

    .slick-prev {
        left: 30px;
        border-bottom: 3px solid white;
        border-left: 3px solid white;
        transform: rotate(45deg);

        &:hover {
            transform: rotate(45deg) scale(1.1);
        }
    }

    .slick-next {
        right: 30px;
        border-bottom: 3px solid white;
        border-right: 3px solid white;
        transform: rotate(-45deg);

        &:hover {
            transform: rotate(-45deg) scale(1.1);
        }
    }
}
