/* node_modules */
@import "../../node_modules/slick-carousel/slick/slick.css";

.feature-slider {
    /* CSS code courtesy of the Slick-Slider Project on Github */
    width: 100%;
    height: 0;
    padding-bottom: 30%;
    position: relative;
    z-index: 5;
    color: white;
    background-color: getColor(primary);

    .bg-img-container {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: 6;
        background: #ffffff url("https://cdn.stocksnap.io/img-thumbs/960w/women-working_9XTJQQVAQM.jpg") no-repeat center/cover;
        background-position: top 20% right 50%;
        opacity: 60%;
    }

    .slider {
        position: absolute !important;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 7;
    }

    .slick-track {
        height: 100%;
        width: 100%;
    }

    .slick-list {
        width: 100%;
        height: 100%;
    }

    .slick-slide {
        width: 100%;
        height: 100%;
        text-align: center;

        div {
            height: 100%;
        }

        .slide-text {
            background-color: #FFFFFF44;
            height: 100%;

            .text-centerer {
                height: auto;
                width: 50%;
                margin: auto;
                margin-top: 10%;
                line-height: 10%;

                h3 {
                    font-family: $secondary-font;
                }

                p {
                    font-family: $primary-font;
                }
            }
        }
    }

    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;

        &:focus {
            outline: none;
        }

        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
    }
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        left: 0;
        top: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;

        &:before,
        &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }

        .slick-loading & {
            visibility: hidden;
        }
    }
    .slick-slide {
        float: left;
        height: 100%;
        min-height: 1px;
        [dir="rtl"] & {
            float: right;
        }
        img {
            display: block;
        }
        &.slick-loading img {
            display: none;
        }


        &.dragging img {
            pointer-events: none;
        }

        .slick-initialized & {
            display: block;
        }

        .slick-loading & {
            visibility: hidden;
        }

        .slick-vertical & {
            display: block;
            height: auto;
            border: 1px solid transparent;
        }
    }
    .slick-arrow.slick-hidden {
        display: none;
    }

@charset "UTF-8";

    // Default Variables

    // Slick icon entity codes outputs the following
    // "\2190" outputs ascii character "←"
    // "\2192" outputs ascii character "→"
    // "\2022" outputs ascii character "•"

    $slick-font-path: "./fonts/" !default;
    $slick-font-family: "slick" !default;
    $slick-loader-path: "./" !default;
    $slick-arrow-color: black !default;
    $slick-dot-color: black !default;
    $slick-dot-color-active: $slick-dot-color !default;
    $slick-dot-character: "\2022" !default;
    $slick-dot-size: 6px !default;
    $slick-opacity-default: 0.75 !default;
    $slick-opacity-on-hover: 1 !default;
    $slick-opacity-not-active: 0.25 !default;

    //@function slick-image-url($url) {
    //    @if function-exists(image-url) {
    //        @return image-url($url);
    //    }
    //    @else {
    //        @return url($slick-loader-path + $url);
    //    }
    //}

    @function slick-font-url($url) {
        @if function-exists(font-url) {
            @return font-url($url);
        }
        @else {
            @return url($slick-font-path + $url);
        }
    }

    /* Slider */

    // Shows a loading icon when the images are loading.
    //.slick-list {
    //    .slick-loading & {
    //        background: #fff slick-image-url("") center center no-repeat;
    //    }
    //}

    /* Icons */
    @if $slick-font-family == "slick" {
        @font-face {
            font-family: "sans-serif";
            font-weight: normal;
            font-style: normal;
        }
    }

    /* Arrows */

    .slick-prev,
    .slick-next {
        position: absolute;
        z-index: 10;
        display: block;
        height: 20px;
        width: 20px;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        background: transparent;
        color: black;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none;
        &:hover, &:focus {
            outline: none;
            &:before {
                opacity: $slick-opacity-on-hover;
            }
        }
        &.slick-disabled:before {
            opacity: $slick-opacity-not-active;
        }
        &:before {
            line-height: 1;
            color: $slick-arrow-color;
            opacity: $slick-opacity-default;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

    .slick-prev {
        left: 30px;
        border-bottom: 3px solid white;
        border-left: 3px solid white;
        transform: rotate(45deg);
        [dir="rtl"] & {
            left: auto;
            right: -25px;
        }
        &:before {
            [dir="rtl"] & {
            }
        }
    }

    .slick-next {
        right: 30px;
        border-bottom: 3px solid white;
        border-right: 3px solid white;
        transform: rotate(-45deg);
        [dir="rtl"] & {
            left: -25px;
            right: auto;
        }
        &:before {
            [dir="rtl"] & {
            }
        }
    }

    /* Dots */

    .slick-dotted.slick-slider {
        margin-bottom: 30px;
    }

    .slick-dots {
        position: absolute;
        bottom: -25px;
        list-style: none;
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;
        li {
            position: relative;
            display: inline-block;
            height: 20px;
            width: 20px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
            button {
                border: 0;
                background: transparent;
                display: block;
                height: 20px;
                width: 20px;
                outline: none;
                line-height: 0px;
                font-size: 0px;
                color: transparent;
                padding: 5px;
                cursor: pointer;
                &:hover, &:focus {
                    outline: none;
                    &:before {
                        opacity: $slick-opacity-on-hover;
                    }
                }
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: $slick-dot-character;
                    width: 20px;
                    height: 20px;
                    font-size: $slick-dot-size;
                    line-height: 20px;
                    text-align: center;
                    color: $slick-dot-color;
                    opacity: $slick-opacity-not-active;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
            &.slick-active button:before {
                color: $slick-dot-color-active;
                opacity: $slick-opacity-default;
            }
        }
    }
}
