.venn-diagram {
    // This utility container div helped me get the venn diagram circles to resize while
    // maintaining their aspect ratio
    .util-container {
        margin: 0 auto;
        position: relative;
        font-family: $primary-font;
        color: getColor(white);
        text-align: center;

        $container-width: 100%;
        $container-height: $container-width / 2;
        width: $container-width;
        height: 0;
        padding-bottom: $container-height;
        $circle-width: ($container-width / 2) * 0.4;

        // Heighten Div on mobiles
        @include mq-below(small) {
            $container-height: $container-width * 1.5;
            padding-bottom: $container-height;
            $circle-width: $container-width * 0.395;
        }

        .first-circle, .second-circle {
            position: absolute;
            top: ($container-height - $circle-width) / 10;
            border-radius: 50%;

            // Forces a 1:1 aspect ratio
            width: $circle-width;
            padding-top: $circle-width;

            // Mobile Styling
            @include mq-below(mid-small) {
                top: inherit;
            }

            .venn-text {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 3;
                opacity: 100%;
                padding: 30% 10% 10% 10%;

                h3 {
                    font-family: $secondary-font;
                    margin-bottom: 20px;
                }
            }
        }

        .first-circle {
            left: 50% - $circle-width;
            background-color: getColor(primary, mid-dark);

            // Mobile Styling
            @include mq-below(small) {
                left: 50% - ($circle-width / 2);
                top: 75% - $circle-width;
            }
        }

        .second-circle {
            right: 50% - $circle-width;
            background-color: getColor(primary, translucent-dark);
            z-index: 2;

            // Mobile Styling
            @include mq-below(small) {
                right: 50% - ($circle-width / 2);
                bottom: 75% - $circle-width;
            }
        }
    }
}
