<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#694f93">
    <meta name="msapplication-TileColor" content="#694f93">
    <meta name="theme-color" content="#694f93">
    <link href="https://fonts.googleapis.com/css2?family=Halant:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/phu6mkm.css">
    <link rel="stylesheet" href="{{ mix('/main.css') }}">
</head>
<body>

<div class="page-wrapper">
    {% include '_modules/navigation.twig' %}

    <main id="content">
        {% block main %}{% endblock %}
    </main>

    {% include '_modules/footer.twig' %}

    <div id="formContainer" class="modal">
        <div id="contact">
            <iframe
                id="contactForm"
                height="75rem"
                src="https://docs.google.com/forms/d/e/1FAIpQLSfshyRDZiNF_ZopEU0zdmZB424uKV7e2q61iFTn2PodcUT2fQ/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0"
            ></iframe>
        </div>
    </div>
</div>

<script src="{{ mix('/manifest.js') }}"></script>
<script src="{{ mix('/vendor.js') }}"></script>
<script src="{{ mix('/main.js') }}"></script>
</body>
</html>


