{#
/**
 * Available variables:
 * - title: The main title of the accordion
 * - panels: Array panel objects each containing a title and details property
 */
#}
{% autoescape false %}
<section class="accordion">
    <div class="container">
        <h1 class="accordion-title">{{ title }}</h1>
        <dl class="badger-accordion js-badger-accordion">
            {% for panel in panels %}
            <dt class="badger-accordion__header">
                <button class="badger-accordion__trigger js-badger-accordion-header">
                    <div class="badger-accordion__trigger-title h3">
                        {{ panel.title }}
                    </div>
                    <div class="badger-accordion__trigger-icon">
                    </div>
                </button>
            </dt>
            <dd class="badger-accordion__panel js-badger-accordion-panel">
                <div class="badger-accordion__panel-inner text-module js-badger-accordion-panel-inner">
                    {{ panel.details }}
                </div>
            </dd>
            {% endfor %}
        </dl>
    </div>
</section>
{% endautoescape %}
