<section class="accordion">
    <div class="container">
        <h1 class="accordion-title">{{ accordionObj.title }}</h1>
        <dl class="badger-accordion js-badger-accordion">
            {% for panel in accordionObj.panels %}
            <dt class="badger-accordion__header">
                <button class="badger-accordion__trigger js-badger-accordion-header">
                    <div class="badger-accordion__trigger-title">
                        {{ panel.title }}
                    </div>
                    <div class="badger-accordion__trigger-icon">
                    </div>
                </button>
            </dt>
            <dd class="badger-accordion__panel js-badger-accordion-panel">
                <div class="badger-accordion__panel-inner text-module js-badger-accordion-panel-inner">
                    {{ panel.details }}
                </div>
            </dd>
            {% endfor %}
        </dl>
    </div>
</section>
