<footer class="footer container">
    <ul class="footer-list">
        <p>©Copywrite Motherhood Reclaimed 2021</p>
        <p>Website Built by <a href="https://www.opensgf.org/" target="_blank" rel="noreferrer">OpenSGF</a></p>
    </ul>
</footer>
