<footer>
    {% include '_modules/prefooter-callout.twig' %}

    <div class="footer h5">
        <div class="container">
            <div class="footer-list">
                <p>©Copyright Motherhood Reclaimed {{ "now"|date('Y') }}</p>
                <p>Website Built by <a href="https://www.opensgf.org/" target="_blank" rel="noreferrer">OpenSGF</a></p>
            </div>
        </div>
    </div>
</footer>
