<footer class="footer">
    <ul class="footer-grid">
        <li>©2021 Motherhood Reclaimed</li>
        <li><a href="https://www.opensgf.org/" target="_blank" rel="noreferrer">Website by OpenSGF</a></li>
    </ul>
</footer>
