<footer class="footer">
    <ul class="footer-list">
        <li>©Copywrite Motherhood Reclaimed 2021</li>
        <li><a href="https://www.opensgf.org/" target="_blank" rel="noreferrer">Website Built by OpenSGF</a></li>
    </ul>
</footer>
