<section class="header-img-left">
    <div class="container">
        <img src="https://via.placeholder.com/150" alt="">
        <div class="text-div">
            <h2>Our Why</h2>
            <p>According to statistical reports from Greene County for Fostering
                Court Improvements, as of March of 2020 there were 665 children
                in foster care in Greene County. This rate is equal to 104 per
                10K, a rate higher than the state overall average of 88 per
                10K. While research indicates that “everyone agrees that the
                first goal is to reunite children and youth with their families
                as soon as possible,” rates of reunification still hover in
                Greene County, with less than half (42%) of all children removed
                from their parents’ custody ultimately being reunited with their
                parents...</p>
        </div>
        <div class="dark-blob"></div>
        <div class="light-blob"></div>
    </div>
</section>
