{#
/**
 * Available variables:
 * - title: The main title of the icon-callout-set
 * - icons: icon objects in an array each conataining an image object, customTitle, and details variables
 */
#}
{% set tinyTransform = {
    width: 100,
    height: 100,
    position: 'center-center'
}%}

{% set mediumTransform = {
    width: 400,
    height: 400,
    position: 'center-center'
}%}

{% set largeTransform = {
    width: 800,
    height: 800,
    position: 'center-center'
}%}

{% autoescape false %}
<section class="icon-callout-set container">
    <h2 class="title">{{ title }}</h2>
    <div class="icons">
        {% for icon in icons%}
            <div class="icon-wrapper">
                {% if icon.image|first %}
                    {% set image = icon.image|first %}
                    <div class="image-wrapper">
                        <img 
                            class="lazyload" 
                            data-src="{{ image.getUrl() }}" 
                            data-srcset="
                                https://via.placeholder.com/200/0000FF/808080 200w, 
                                https://via.placeholder.com/400/FF0000/FFFFFF 400w,
                                https://via.placeholder.com/800/FFFF00/000000 800w,
                                https://via.placeholder.com/1600/00FFFF/808080 1600w,
                            " 
                            data-sizes="auto"
                        >
                    </div>
                {% endif %}
                <h3>{{ icon.customTitle }}</h3>
                {% if icon.details %}
                    <p>{{ icon.details }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </udiv>
</section>
{% endautoescape %}
