<section class="icon-callout-set container">
    <h2 class="title">4 Key Areas of Focus</h2>
    <ul class="icons">
        <li>
            <img src="https://via.placeholder.com/60" alt="">
            <h3>Rediscover Self</h3>
            <p>A Developed Sense of Self</p>
        </li>
        <li>
            <img src="https://via.placeholder.com/60" alt="">
            <h3>Find Healing</h3>
            <p>Decrease Disruption Due to Past Trauma</p>
        </li>
        <li>
            <img src="https://via.placeholder.com/60" alt="">
            <h3>Understand Others</h3>
            <p>Improving Quality of Relationships with Children and Partners</p>
        </li>
        <li>
            <img src="https://via.placeholder.com/60" alt="">
            <h3>Live Your Best Life</h3>
            <p>Livable-Wage, Meaningful Employment with Ongoing Stability</p>
        </li>
    </ul>
</section>
