<section class="icon-callout-set container">
    <div class="title">4 Key Areas of Focus</div>
    <ul class="icons">
        <li>
            <img src="https://via.placeholder.com/60" alt="">
            <h5>Rediscover Self</h5>
            <p>A Developed Sense of Self</p>
        </li>
        <li>
            <img src="https://via.placeholder.com/60" alt="">
            <h5>Find Healing</h5>
            <p>Decrease Disruption Due to Past Trauma</p>
        </li>
        <li>
            <img src="https://via.placeholder.com/60" alt="">
            <h5>Understand Others</h5>
            <p>Improving Quality of Relationships with Children and Partners</p>
        </li>
        <li>
            <img src="https://via.placeholder.com/60" alt="">
            <h5>Live Your Best Life</h5>
            <p>Livable-Wage, Meaningful Employment with Ongoing Stability</p>
        </li>
    </ul>
</section>
