<section class="image-text-callout">
    <div class="container callout">
        <div class="image-wrapper">
            <img  class="image" src="https://via.placeholder.com/400x400">
        </div>

        <div class="text-wrapper">
            <h2 class="centered">{{ imageTextObj.title }}</h2>
            <p>{{ imageTextObj.paragraph }}</p>
            <div class="centered">
                <a href="{{ imageTextObj.button.href }}" class="btn btn-primary">{{ imageTextObj.button.buttonText }}</a>
            </div>
        </div>
    </div>
</section>
