<section class="image-text-callout">
    <container class="container callout">
        <div class="image-wrapper">
            <img  class="image" src="https://via.placeholder.com/779x571">
        </div>

        <div class="text-wrapper">
            <h2 class="centered">Here is a title</h2>
            <p>Yeah? Well I'm the Lord of Time. Don't you think she looks tired? River, you know my name. You whispered my name in my ear! There's only one reason I would ever tell anyone my name. There's only one time I could... I don't want to go. You can spend the rest of your life with me, but I can't spend the rest of mine with you. I have to live on. Alone. That's the curse of the Time Lords. Please, when Torchwood comes to write my complete history, don't tell people I travelled through time and space with her mother!</p>
            <div class="centered">
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </container>
</section>
