<a href="#content" class="skip-nav btn btn-outline">Skip to main content</a>

<nav class="navigation">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="logo">
                <img src="/img/logo.png" alt="Motherhood Reclaimed Logo">
            </a>

            <button class="nav-toggle open">
                <div class="icon"></div>
            </button>

            <ul class="nav-links">
                <li>
                    <a href="/program" class="nav-link">Program</a>
                </li>
                <li>
                    <a href="/about" class="nav-link">About</a>
                </li>
                <li>
                    <a href="#" class="btn btn-outline">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
