{#
/**
* Available variables:
* - title: main title for the module
* - photos: array of objects each containing an image object and customTitle and details values
*/
#}

{% set tinyTransform = {
    width: 100,
    position: 'center-center'
}%}

{% set mediumTransform = {
    width: 400,
    position: 'center-center'
}%}

{% set largeTransform = {
    width: 800,
    position: 'center-center'
}%}

{% autoescape false %}
<section class="photo-grid">S
    <div class="container">
        <h2 class="grid-title">{{ title }}</h2>
        <div class="grid">
            {% for photo in photos %}
                <div class="photo-wrapper">
                    {% set image = photo.image|first %}
                    {% if image %}
                        <div class="image-wrapper">
                            <img 
                                class="lazyload" 
                                data-src="https://via.placeholder.com/200/0000FF/808080" 
                                data-srcset="
                                    https://via.placeholder.com/200/0000FF/808080 200w, 
                                    https://via.placeholder.com/400/FF0000/FFFFFF 400w,
                                    https://via.placeholder.com/800/FFFF00/000000 800w,
                                    https://via.placeholder.com/1600/00FFFF/808080 1600w,
                                "  
                                data-sizes="auto"
                            >
                        </div>
                    {% endif %}
                    <p class="text-wrapper">{{ photo.customTitle }}</p>
                    <p class="h3">{{ photo.details }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endautoescape %}
