<section class="photo-grid">
    <div class="container">
        <!-- TODO: responsive text-size, animate on scroll, plenty of refactoring on integration -->
        <h2 class="grid-title">Meet the Staff</h2>
        <ul class="grid">
            <li>
                <img src="https://via.placeholder.com/160" alt="headshot photo">
                <p class="text">Founder</p>
                <p class="h3">Amy Fouse</p>
            </li>

            <li>
                <img src="https://via.placeholder.com/160" alt="headshot photo">
                <p class="text">Consultant Mother</p>
                <p class="h3">Connie Jones</p>
            </li>

            <li>
                <img src="https://via.placeholder.com/160" alt="headshot photo">
                <p class="text">Development Consultant</p>
                <p class="h3">Amy Blansit</p>
            </li>

            <li>
                <img src="https://via.placeholder.com/160" alt="headshot photo">
                <p class="text">Founder</p>
                <p class="h3">Amy Fouse</p>
            </li>

            <li>
                <img src="https://via.placeholder.com/160" alt="headshot photo">
                <p class="text">Consultant Mother</p>
                <p class="h3">Connie Jones</p>
            </li>

            <li>
                <img src="https://via.placeholder.com/160" alt="headshot photo">
                <p class="text">Development Consultant</p>
                <p class="h3">Amy Blansit</p>
            </li>
        </ul>
    </div>
</section>
