<section class="photo-grid">
    <h1 class="title">Meet the Staff</h1>
    <ul class="p-grid">
        <li>
            <img src="https://via.placeholder.com/160" alt="headshot photo">
            <p>Founder</p>
            <h3>Amy Fouse</h3>
        </li>

        <li>
            <img src="https://via.placeholder.com/160" alt="headshot photo">
            <p>Consultant Mother</p>
            <h3>Connie Jones</h3>
        </li>

        <li>
            <img src="https://via.placeholder.com/160" alt="headshot photo">
            <p>Development Consultant</p>
            <h3>Amy Blansit</h3>
        </li>
    </ul>
</section>
