<section class="prefooter-callout">
    <div class="pfc-background">
    </div>
    <div class="container">
        <div class="pfc-content">
            <h2>{{ prefooterObj.text }}</h2>
            <a
                href="{{ prefooterObj.button.href }}"
                class="btn btn-outline">
                {{ prefooterObj.button.text }}</a>
        </div>
    </div>
</section>
