{#
/**
 * Available variables:
 * - image: the background image for the slider
 * - slides: an array of slide objects which have quote and byline attributes
 */
#}

{% set tinyTransform = {
    width: 100,
    position: 'center-center'
}%}

{% set mediumTransform = {
    width: 400,
    position: 'center-center'
}%}

{% set largeTransform = {
    width: 800,
    position: 'center-center'
}%}

<section 
    class="feature-slider lazyload" 
    data-bgset="
        https://via.placeholder.com/200/0000FF/808080 [(max-width: 399px)] |
        https://via.placeholder.com/400/FF0000/FFFFFF [(max-width: 799px)] |
        https://via.placeholder.com/800/FFFF00/000000 [(max-width: 1599px)] |
        https://via.placeholder.com/1600/00FFFF/808080 1600w
    "
    data-sizes="auto"
>
    <div class="purple-filter"></div>
    <section class="js-slider slider">
        {% for slide in slides %}
            <div class="slide-text container">
                <div class="text-wrapper">
                    <p class="quote h3">{{ slide.quote }}</p>
                    <p class="person-quoted">-{{ slide.byline }}</p>
                </div>
            </div>
        {% endfor %}
    </section>
</section>
