<section class="feature-slider container">
    <div class="purple-filter"></div>
    <section class="variable slider">
        {% for slide in slides %}
        <div class="slide-text">
            <div class="text-centerer">
                <p class="quote h3">{{ slide.quote }}</p>
                <p class="person-quoted">-{{ slide.person }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
</section>
