<section class="feature-slider container">
    <div class="bg-img-container"></div>
    <section class="variable slider">
        <div class="slide-text">
            <div class="text-centerer">
                <h3>I love this program!</h3>
                <p style="text-align: right;">-Mary Barn</p>
            </div>
        </div>
        <div class="slide-text">
            <div class="text-centerer">
                <h3>This program is great!</h3>
                <p style="text-align: right;">-Mary Barn</p>
            </div>
        </div>
        <div class="slide-text">
            <div class="text-centerer">
                <h3>I'm trapped in a door factory!</h3>
                <p style="text-align: right;">-Mary Barn</p>
            </div>
        </div>
        </div>
    </section>
</section>
