{#
/**
 * Available variables:
 * - image: the background image for the slider
 * - slides: an array of slide objects which have quote and byline attributes
 */
#}

<section class="feature-slider" style="background-image: url('{{ image.url }}');">
    <div class="purple-filter"></div>
    <section class="js-slider slider">
        {% for slide in slides %}
            <div class="slide-text container">
                <div class="text-wrapper">
                    <p class="quote h3">{{ slide.quote }}</p>
                    <p class="person-quoted">-{{ slide.byline }}</p>
                </div>
            </div>
        {% endfor %}
    </section>
</section>
