{#
/**
* Available variables:
* - circleOne: an object containing title and details variables
* - circleTwo: an object containing title and details variables
*/
#}

{% autoescape false %}
<section class="venn-diagram container">
    <div class="util-container">
        <div class="first-circle">
            <div class="circle-text">
                <h3>{{ vennDiagram[0].circleTitle }}</h3>
                <p>{{ vennDiagram[0].circleDetails }}</p>
            </div>
        </div>
        <div class="second-circle">
            <div class="circle-text">
                <h3>{{ vennDiagram[1].circleTitle }}</h3>
                <p>{{ vennDiagram[1].circleDetails }}</p>
            </div>
        </div>
    </div>
</section>
{% endautoescape %}
