{#
/**
* Available variables:
* - vennDiagram: an array of two objects, each containing circleTitle and circleDetails values
*/
#}
{% if vennDiagram %}
{% set circleOne = vennDiagram|length >= 1 ? vennDiagram[0] : null %}
{% set circleTwo = vennDiagram|length >= 2 ? vennDiagram[1] : null %}
{% autoescape false %}
<section class="venn-diagram">
    <div class="container small">
        <div class="circles-wrapper">
            {% if circleOne %}
                <div class="first-circle">
                    <div class="circle-text">
                        <h3>{{ circleOne.circleTitle }}</h3>
                        <p>{{ circleOne.circleDetails }}</p>
                    </div>
                </div>
            {% endif %}
            {% if circleTwo %}
                <div class="second-circle">
                    <div class="circle-text">
                        <h3>{{ circleTwo.circleTitle }}</h3>
                        <p>{{ circleTwo.circleDetails }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endautoescape %}
{% endif %}

