<section class="venn-diagram container">
    <!-- TODO: Responsive Font Sizes, Animate on Scroll, change Grid to Flex-Box, Swap MQ's, add colors, submit pull requests -->
    <div class="util-container">
        <div class="first-circle">
            <div class="venn-text">
                <h3>Our Vision</h3>
                <p>Motherhood Reclaimed seeks to support mothers as they work toward maintaining or regaining custody of their children.</p>
            </div>
        </div>
        <div class="second-circle">
            <div class="venn-text">
                <h3>Our Mission</h3>
                <p>Providing judgement-free dignified resources, support, connection, classes, and guidance for mothers with Children’s Division involvement.</p>
            </div>
        </div>
    </div>
</section>
