<section class="venn-diagram container">
    <div class="util-container">
        <div class="first-circle">
            <div class="venn-text">
                <h3>{{ vennObj.vennOne.title }}</h3>
                <p>{{ vennObj.vennOne.details }}</p>
            </div>
        </div>
        <div class="second-circle">
            <div class="venn-text">
                <h3>{{ vennObj.vennTwo.title }}</h3>
                <p>{{ vennObj.vennTwo.details }}</p>
            </div>
        </div>
    </div>
</section>
