{#
/**
* Available variables:
* - circleOne: an object containing title and details variables
* - circleTwo: an object containing title and details variables
*/
#}

{% autoescape false %}
<section class="venn-diagram container">
    <div class="util-container">
        <div class="first-circle">
            <div class="circle-text">
                <h3>{{ circleOne.title }}</h3>
                <p>{{ circleOne.details }}</p>
            </div>
        </div>
        <div class="second-circle">
            <div class="circle-text">
                <h3>{{ circleTwo.title }}</h3>
                <p>{{ circleTwo.details }}</p>
            </div>
        </div>
    </div>
</section>
{% endautoescape %}
